<div>
    <div>
        <!--about us -->
    </div>
    <div>
        Login
        <div class="row">
            <form class="col s12" #loginForm = "ngForm" (ngSubmit) = "ValidateLogin(loginForm)">
                <div class="row">
                    <div class="input-field col s6">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="Email" name="Email" type="text" class="validate" ngModel>
                        <label for="Email">email</label>
                    </div>
                    <div class="input-field col s6">
                        <i class="material-icons prefix">phone</i>
                        <input id="Password" name="Password" type="text" class="validate" ngModel>
                        <label for="Password">Password</label>
                    </div>
                </div>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>
<router-outlet></router-outlet>