<div class="row">
    <div class="col s3">
        <div class="card small">
            <div class="card-image">
                <img src="../assets/Images/anjaan.jpg">
                <span class="card-title">Anjaan</span>
            </div>
            <div class="card-content">
                <p>Rating 2/5</p>
            </div>
            <div class="card-action">
                <a href="#">Details</a>
            </div>
        </div>
    </div>
    <div class="col s3">
            <div class="card small">
                <div class="card-image">
                    <img src="../assets/Images/anjaan.jpg">
                    <span class="card-title">Anjaan</span>
                </div>
                <div class="card-content">
                    <p>Rating 2/5</p>
                </div>
                <div class="card-action">
                    <a href="#">Details</a>
                </div>
            </div>
        </div>
        <div class="col s3">
                <div class="card small">
                    <div class="card-image">
                        <img src="../assets/Images/anjaan.jpg">
                        <span class="card-title">Anjaan</span>
                    </div>
                    <div class="card-content">
                        <p>Rating 2/5</p>
                    </div>
                    <div class="card-action">
                        <a href="#">Details</a>
                    </div>
                </div>
            </div>
            <div class="col s3">
                    <div class="card small">
                        <div class="card-image">
                            <img src="../assets/Images/anjaan.jpg">
                            <span class="card-title">Anjaan</span>
                        </div>
                        <div class="card-content">
                            <p>Rating 2/5</p>
                        </div>
                        <div class="card-action">
                            <a href="#">Details</a>
                        </div>
                    </div>
                </div>
                <div class="col s3">
                        <div class="card small">
                            <div class="card-image">
                                <img src="../assets/Images/anjaan.jpg">
                                <span class="card-title">Anjaan</span>
                            </div>
                            <div class="card-content">
                                <p>Rating 2/5</p>
                            </div>
                            <div class="card-action">
                                <a href="#">Details</a>
                            </div>
                        </div>
                    </div>
</div>
<router-outlet></router-outlet>