<div class="row" *ngIf="disSongsObj">
    <div class="col s3" *ngFor="let song of disSongsObj">
        <div class="card small">
            <div class="card-image">
                <img src="../assets/Images/{{song.Picture}}">
                <!-- <span class="card-title">{{song.Name}}</span> -->
            </div>
            <div class="card-content">
                <p>Name: {{song.Name}}</p>
            </div>
            <div class="card-action">
                <a href="#">Details</a>
            </div>
        </div>
    </div> 
</div>
<router-outlet></router-outlet>