<blockquote>
    <h4>Select the playlist to which you want to add the song</h4>
</blockquote>

<ul class="collection" *ngIf="allPlaylists">
    <li class="collection-item avatar" *ngFor="let playlist of allPlaylists">
        <img src="{{imagePath}}icons/3.png" alt="" class="circle">
        <p>{{playlist.title}} <br>
            {{playlist.description}}
        </p>
        <a href="javascript:void(0)" (click)="addSongPlaylist($event)" class="secondary-content"><i
                id="{{playlist._id}}" class="material-icons">add</i></a>
    </li>

</ul>

<div class="row center-align" *ngIf="allPlaylists?.length == 0">
    <h3 class="blue-text">No Playlists</h3>
</div>