<blockquote>
    <h3>Add a sweetest Song</h3>
</blockquote>

<div class="row">
    <!-- <form class="col s12"> -->
    <div class="row">
        <div class="input-field col s6">
            <input id="title" type="text" class="validate" required [(ngModel)]="song.title">
            <label for="title">Name</label>
        </div>
        <div class="input-field col s6">
            <input id="artist" type="text" class="validate" required [(ngModel)]="song.artist">
            <label for="artist">Artist</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s6">
            <input id="album" type="text" class="validate" required [(ngModel)]="song.album">
            <label for="album">Album</label>
        </div>
        <div class="input-field col s6">
            <input id="duration" type="text" class="validate" required [(ngModel)]="song.duration">
            <label for="duration">Duration</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s6">
            <input id="year" type="text" class="validate" required [(ngModel)]="song.year">
            <label for="year">Year</label>
        </div>
        <div class="input-field col s6">
            <input id="genre" type="text" class="validate" required [(ngModel)]="song.genre">
            <label for="genre">Genre</label>
        </div>
    </div>

    <div class="row">
        <a (click)="addSong()" class="btn-floating btn-large waves-effect waves-light red"><i
                class="material-icons">add</i></a>
    </div>