<h4><a href="javascript:void(0)" (click)="goBack()"><i class="material-icons">arrow_back</i></a></h4>
<div class="row" *ngIf="songDetails">
    <div class="col s12" *ngFor="let song of songDetails">
        <div class="card large">
            <div class="card-image">
                <img src="{{imagePath}}{{song.picture.split('.')[0]}}_cover.jpg">
                <span class="card-title"> {{song.name}}</span>
            </div>
            <div class="card-content">
                <table class="centered responsive-table">
                    <tbody>
                        <tr>
                            <td>
                                Name : {{song.name}}
                            </td>
                            <td>
                                Genre : {{song.genre}}
                            </td>
                            <td>
                                Artist: {{song.artist}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Duration: {{song.duration}}
                            </td>
                            <td>
                                Year : {{song.year}}
                            </td>
                            <td>
                                <div class="row">
                                    <div class="col s6">
                                        Rating
                                    </div>
                                    <div class="col s6">
                                        <div *ngFor="let dummy of ' '.repeat(song.rating).split(''), let x = index">
                                            <i class="left material-icons">grade</i>
                                        </div>
                                    </div>
                                </div>

                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- <blockquote>
                    Name : {{song.name}}</blockquote><br>
                Genre : {{song.genre}}<br>
                Artist :{{song.artist}} <br>
                Album : {{song.album}}<br>
                Duration: {{song.duration}}<br>
                Year : {{song.year}}<br>
                Rating : {{song.rating}} / 5<br> -->


            </div>

        </div>
        <div class="row">
            <ul class="collection" *ngIf="songReviews">

                <li class="collection-item avatar" *ngFor="let review of songReviews">
                    <img src="{{imagePath}}icons/3.png" alt="" class="circle">
                    <div class="right" *ngFor="let dummy of ' '.repeat(review.rating).split(''), let x = index">
                        <i class="material-icons">grade</i>
                    </div>
                    <span class="title">
                        <h5>{{review.reviewBy}}</h5>
                    </span>
                    <p>{{review.comment}}
                    </p>

                </li>


            </ul>
        </div>
    </div>
</div>