<blockquote>
    <h3>View and Edit Playlists</h3>
</blockquote>

<div class="row" *ngIf="allPlaylists">
    <div class="col s6" *ngFor="let playlist of allPlaylists">
        <div class="card light-blue lighten-1" id="{{playlist._id}}_card">
            <div class="card-content white-text">
                <span class="left card-title">{{playlist.title}}</span>
                <span class="card-title right">
                    Hide:
                    <div class="switch">

                        <label class="white-text">
                            Off
                            <input type="checkbox" id="{{playlist._id}}" [(ngModel)]="playlist.hidden"
                                (change)="hidePlaylist($event)" ng-true-value="true" ng-false-value="false">
                            <span class="lever"></span>
                            On
                        </label>
                    </div>
                </span>
                <br><br>
                <p>{{playlist.description}}
                </p>
                <br>
                <div class="divider"></div>
                <div class="section">
                    <h6>List of songs</h6>
                    <ul class="collection transparent" *ngIf="playlist.songID">
                        <p>

                            <li class="collection-item avatar scale-transition"
                                id="{{playlistS.split('()')[0]}}_{{playlist._id}}_li"
                                *ngFor="let playlistS of playlist.songID">
                                <img src="{{imagepath}}{{playlistS.split('()')[3]}}" alt="" class="circle">
                                <span class="title text-black">{{playlistS.split('()')[1]}}</span>
                                <p class="text-black">{{playlistS.split('()')[2]}}<br></p>
                                <a href="javascript:void(0)" id="asd" (click)="delSongPlaylist($event)"
                                    class="secondary-content"><i id="{{playlistS.split('()')[0]}}_{{playlist._id}}"
                                        class="material-icons white-text">delete</i></a>
                            </li>


                        </p>
                    </ul>
                </div>

                <div class="row " style="display: none;" id="{{playlist._id}}_edit">
                    <div class="input-field col s6">
                        <input #title type="text" class="validate white-text" [ngModel]="playlist.title">
                        <label for="first_name" class="active">Title</label>
                    </div>
                    <div class="input-field col s6 white-text">
                        <input #description type="text" class="validate white-text" [ngModel]="playlist.description">
                        <label for="last_name" class="active">Description</label>
                    </div>
                    <div class="row center-align">
                        <a class="btn-floating btn-large waves-effect waves-light red"
                            (click)="saveDetails(title.value,description.value,playlist._id)"><i
                                class="material-icons">add</i></a>
                    </div>

                </div>

            </div>
            <div class="card-action">
                <!-- <a class="white-text" href="javascript:void(0)" id="{{playlist._id}}_1"
                    (click)="delPlaylist($event)">Delete Playlist</a> -->
                <a class="white-text" href="javascript:void(0)" id="{{playlist._id}}_2"
                    (click)="delPlaylist($event)">Edit Playlist</a>
            </div>
        </div>
    </div>
</div>
<div *ngIf="allPlaylists?.length==0">
    <h2>No playlists. please add one</h2>
</div>