<nav class="light-blue">
  <div class="nav-wrapper">
    <a href="javascript:void(0)" class="brand-logo"><i class="material-icons">polymer</i>Krypton</a>
    <a href="javascript:void(0)" data-target="mobile-demo" class="sidenav-trigger"><i
        class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="javascript:void(0)" (click)="logout()">Logout</a></li>
    </ul>
  </div>
</nav>
<ul class="sidenav" id="mobile-demo">
  <li><a href="javascript:void(0)" (click)="logout()">Logout</a></li>
</ul>
<div class="row">
  <div class="col s2">
    <ul id="slide-out" class="sidenav sidenav-fixed">
      <li>
        <div class="user-view">
          <div class="background">
            <img class="responsive-img" src="{{imagePath}}wallpapers/1.png">
          </div>
          <a href="javascript:void(0)">
            <img class="circle responsive-img" src="{{imagePath}}icons/1.png">
          </a>
          <span class="white-text name">{{name}}</span>
          <a href="javascript:void(0)">
            <span class="white-text email">{{state.email}}</span>
          </a>
        </div>
      </li>
      <li>
        <a class="waves-effect" (click)="naviagte(1)">
          <i class="material-icons">home</i>Songs</a>
      </li>
      <li>
        <a class="waves-effect" (click)="naviagte(2)">
          <i class="material-icons">memory</i>Add Song</a>
      </li>
      <li>
        <a class="waves-effect" href="javascript:void(0)" (click)="naviagte(3)">
          <i class="material-icons">school</i>Create Playlist</a>
      </li>
      <li>
        <a class="waves-effect" href="javascript:void(0)" (click)="naviagte(4)">
          <i class="material-icons">school</i>My Playlist</a>
      </li>
      <li>
        <a class="waves-effect" href="javascript:void(0)" (click)="naviagte(5)">
          <i class="material-icons">school</i>All Playlist</a>
      </li>
    </ul>

  </div>
  <div class="col s10">
    <div class="container">

      <router-outlet></router-outlet>
    </div>

  </div>
</div>