<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo left">Logo</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/login">Login / Sign Up</a></li>
        </ul>
    </div>
</nav>

<nav>
    <div class="nav-wrapper">
        <form>
            <div class="input-field">
                <input id="search" type="search" required>
                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                <i class="material-icons">close</i>
            </div>
        </form>
    </div>
</nav>

<div class="container">

    <div class="row">
        <blockquote>
            <h1>Trending Songs</h1>
        </blockquote>
    </div>
    <div class="row" *ngIf="orgSongs">
        <div class="col s3" *ngFor="let song of orgSongs">
            <div class="card small">
                <div class="card-image">
                    <img src="../assets/Images/{{song.Picture}}">
                    <!-- <span class="card-title">{{song.Name}}</span> -->
                </div>
                <div class="card-content">
                    <p>Name: {{song.Name}}</p>
                </div>
                <div class="card-action">
                    <a href="#">Details</a>
                </div>
            </div>
        </div>
    </div>
</div>