<div *ngIf="allSongs">
    <div class="col s6" *ngFor="let song of allSongs">
        <h5 class="header"> {{song.name}} </h5>
        <div class="card small horizontal">
            <div class="card-image">
                <img src="{{imagePath}}{{song.picture}}">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <p>
                        Genre : {{song.genre}}<br>
                        Artist : {{song.artist}} <br>
                        Album : {{song.album}} <br>
                        Duration: {{song.duration}} mins <br>
                        Year : {{song.year}} <br>
                    </p>
                </div>
                <div class="card-action">
                    <a href="javascript:void(0)" (click)="naviagte($event)" id="{{song._id}}_1"
                        class=" blue-text">Edit</a>
                    <a href="javascript:void(0)" (click)="naviagte($event)" id="{{song._id}}_2"
                        class=" blue-text">View</a><br>
                    <a href="javascript:void(0)" (click)="naviagte($event)" id="{{song._id}}_3" class=" blue-text">Add
                        to Playlist</a>
                </div>
            </div>
        </div>
    </div>
</div>